<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="top"></div>
    <!-- Progress bar area -->
    <div class="progress bar"></div>
    <a href="#top" class="ui circular icon button" id="toTop" data-slide="slide">
        <i class="angle up icon"></i>
    </a>
    <!-- Navbar fixed top area -->
    <div class="ui fixed top menu">
        <div class="ui container">
            <a href="index.html" class="active item">Home</a>
            <a href="portofolio.html" class="item">Portofolio</a>
            <a href="index.html" class="item logo">Logo</a>
            <a href="" class="icon item logo" id="trigger"><i class="sidebar icon"></i></a>
            <a href="blog.html" class="item">Blog</a>
            <a href="about.html" class="item">About</a>
        </div>
    </div>
    <!-- Collapse Navbar Menu -->
    <div class="ui fluid vertical menu collapse"></div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
